<section class="vh-100">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">

                <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>

                <div class="input-group rounded mb-3">
                    <input type="search" class="form-control rounded" placeholder="City" aria-label="Search"
                           aria-describedby="search-addon" />
                    <a href="#!" type="button">
                        <span class="input-group-text border-0 fw-bold" id="search-addon">
                            Check!
                        </span>
                    </a>
                </div>

                <div class="mb-4 pb-2">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"
                               type="radio"
                               name="inlineRadioOptions"
                               id="inlineRadio1"
                               value="option1"
                               checked />
                        <label class="form-check-label" for="inlineRadio1">Celsius</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input"
                               type="radio"
                               name="inlineRadioOptions"
                               id="inlineRadio2"
                               value="option2" />
                        <label class="form-check-label" for="inlineRadio2">Farenheit</label>
                    </div>
                </div>

                <div class="card shadow-0 border">
                    <div class="card-body p-4">

                        <h4 class="mb-1 sfw-normal">Jordan, Amman || Thursday 4:00 PM</h4>
                        <p class="mb-2">Current temperature: <strong>32°C|89°F</strong></p>
                        <p>Precipitation <strong>0%</strong>, Humidity: <strong>29%</strong>, Wind: <strong>18 km/h</strong></p>

                        <div class="nav alert-info">
                            <img src="~/Models/partly_cloudy.png" />  Mostly sunny
                        </div>

                    </div>
                </div>
                <br/>
                <div class="card shadow-0 border">
                    <div class="card-body p-4">

                        <h4 class="mb-1 sfw-normal">Jordan, Irbid || Thursday 4:00 PM</h4>
                        <p class="mb-2">Current temperature: <strong>33°C|92°F</strong></p>
                        <p>Precipitation <strong>0%</strong>, Humidity: <strong>26%</strong>, Wind: <strong> 21 km/h</strong></p>

                        <div class="nav alert-info">
                            <img src="~/Models/sunny.png" />
                            Sunny
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>
</section>